AI_PROVIDER_TYPE=
AUDIO_STORAGE_BUCKET=
DARAJA_BUSINESS_SHORT_CODE=
DARAJA_CALLBACK_URL=
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_ENV=
DARAJA_PASSKEY=
GEMINI_API_KEY=
JWT_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=
JWT_SECRET=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=